{% extends 'base.html' %}
{% block content %}
<div class="auth-wrap">
	<div class="auth-card">
		<h2>Login</h2>
		<form method="post" class="form">
			<label>Username
				<input type="text" name="username" placeholder="username" required>
			</label>
			<label>Password
				<input type="password" name="password" placeholder="••••••••" required>
			</label>
			<div>
				<a href="{{ url_for('auth.forgot_password') }}" class="link-cta">Forgot Password?</a>
			</div>
			<button class="btn" type="submit">Sign in</button>
		</form>
		<div class="auth-switch">
			<span>Don't have an account?</span>
			<a class="link-cta" href="{{ url_for('auth.register') }}">Register for free</a>
		</div>
	</div>
</div>
{% endblock %}
